body {
  background: #dcdcdc;
  
  #error_explanation {
    * {
      color: red;
      font-size: 14px;
      text-align: left;
    }
    ul {
      padding-left: 16px;
    }
  }

  .container {
    .row { 
      > div {
        background: white;
        border-radius: 5px;
        margin-top: 20px;
      }
      .modal {
        background: transparent;
      }
    }
  }

  .line-througn {
    margin: 10px 0px;
    font-size: 18px;
    position: relative;
    &::before {
        content: '';
        border: 1px solid #bfbfbf;
        width: 30%;
        position: absolute;
        top: calc(50% - 1px);
        left: 0px;
    }
    &::after {
        content: '';
        border: 1px solid #bfbfbf;
        width: 30%;
        position: absolute;
        top: calc(50% - 1px);
        right: 0px;
    }
  }

  code {
    &.copy-to-clipboard {
      cursor: pointer;
      position: relative;
      .notice {
        padding: 6px 10px;
        border: none;
        background: transparent;
        position: absolute;
        z-index: 10000;
        width: 200px;
        font-size: 12px;
        color: #848484;
      }
      .code-content {
        padding: 25px 10px 15px 10px;
      }
    }
    .code-content {
      margin: 0px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid gray;
      background: #f1f1f1;
      word-wrap: break-word;
      word-break: break-all;
    }
  }

  .center-container {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
